* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}

body p {
  text-align: justify;
}

a, article {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#grid-container {
  display: grid;
  grid-template-columns: 2.5fr 3fr 3fr 3fr;
  grid-template-rows: 1fr 6fr 6fr 1fr;
  height: 100vh;
}

#overlay {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:#000;
  opacity: 0;
  z-index: 9;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

header {
  grid-area: 1 / 1 / 2 / 5;
  display: flex;
  align-items: center;
}

nav.nav-bar {
  margin-left: auto;
  margin-right: 2rem;
}

.button-container {
  display: flex;
  margin: 3rem 0;
  justify-content: space-around;
}

.button-container button,
.previewButtonContainer button,
#contactContainer button {
  display: inline-block;
  text-decoration: none;
  padding:0.70em 2em;
  border:0.1em solid #000000;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  background-color: #ffffff;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
}

.button-container button:hover,
.previewButtonContainer button:hover,
#contactContainer button:hover {
  color:#ffffff;
  background-color:#000000;
  cursor: pointer;
}

section.banner {
  grid-area: 2 / 1 / 4 / 2;
  min-width: 500px;
}

.banner-container {
  display: block;
  box-sizing: border-box;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.banner-container img {
  display: block;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}

.banner h2 {
  margin: 2rem auto;
}

.banner p {
  text-align: justify;
}

header a {
  text-decoration: none;
  color: #000;
  padding-left: 2rem;
  font-size: 0.65rem;
}

h1,
h2, 
h3{
  font-family: Montserrat;
}


main {
  grid-area: 2 / 2 / 4 / 5; 
}

.fab {
  font-size: 1.5rem;
  color: #000;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  aspect-ratio: 2;
  margin: 0;
  padding: 0;
}

.project {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.thumbnail {
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  display: block;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;
}

.thumbnail * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.thumbnail:before,
.thumbnail:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 48px solid rgba(0, 0, 0, 0.5);
  border-bottom: 48px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.thumbnail img {
  backface-visibility: hidden;
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.thumbnail figcaption {
  position: absolute;
  margin:0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.project-title {
  color: #FFF;
}

.thumbnail:hover:before,
.thumbnail:hover:after {
  transform: scale(1);
  opacity: 1;
}

.thumbnail:hover > img {
  opacity: 0.7;
}

.thumbnail:hover figcaption {
  opacity: 1;
}

/* The sidepanel menu */
.sidepanel {
  box-sizing: border-box;
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1); /* White */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 2rem;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  opacity: 0; /* Removes a bug where piece of the sidepanel is visible */
}

#mySidepanel {
  max-width: 100vw;
}

#projectPanel {
  display: none;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 0;
  border: none;
}

/* sidepanel close button */
.closeIcon img{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  float: right;
  height: 2rem;
  width: 2rem;
}

#preview {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.projectContainer {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0 2rem 0;
}

#panelTitle {
  font-size: 2rem;
}

.sidecontent {
  padding: 2rem;
}

.sideContent ul{
  margin: auto;
  list-style: none;
  display: flex;
  width: 160px;
  justify-content: center;
}

.sideContent li {
  text-align: center;
  vertical-align: top;
  height: 32px;
  width: 32px;
}

.previewButtonContainer {
  display: block;
  text-align: center;
}

#livePreviewLink,
#githubLink {
  text-decoration: none;
  color: #000;
}

.previewButtonContainer button{
  display: block;
  margin: 1rem auto 1rem auto;
  width: 100px;
  color: #000;
}

#projectDefinition {
  width: 70%;
  padding: 0 2rem 2rem 0;
}

#projectImage {
  display: block;
  width: 100%;
  margin: auto;
}

#certContainer {
  display: none;
  grid-template-columns: 1fr 1fr;
  aspect-ratio: 2;
  margin: 0;
  margin: 2rem 0 2rem 0;
}

#certContainer p {
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

#certContainer img {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

#resumeContainer {
  display: none;
  margin: 0;
  margin: 2rem 0 2rem 0;
}

#resumeContainer img {
  box-sizing: border-box;
  width: 100%;
}

#resumeText,
#certText {
  padding: 0 0 2rem 0;
}

/* contact form */

#contactContainer {
  display: none;
  margin: 2rem 0 2rem 0;
}
input[type=text], input[type=email], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Mobile optimization */
@media all and (max-width:30em) 
{
  button{
    display: block;
    margin: 0.4em auto
   }
}

@media only screen and (max-width: 3840px){

  .project-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

}

@media only screen and (max-width: 3000px){

  .project-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}


@media only screen and (max-width: 2400px) {

  .project-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media only screen and (max-width: 1400px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }

  header h1 {
    text-align: center;
  }

  .nav-bar {
    text-align: center;
    padding-top: 1rem;
  }

  .button-container button,
  .previewButtonContainer button,
  #contactContainer button {
    display: inline-block;
    text-decoration: none;
    padding:0.75em 1.5em;
    border:0.1em solid #000000;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 0.75rem;
    background-color: #ffffff;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
  }

  .projectContainer {
    text-align: justify;
    display: block;
  }  

  #projectDefinition {
    width: 100%;
    padding: 0 0 2rem 0;
  }

}

@media only screen and (max-width: 1024px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }

  #grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
  }

  header {
    grid-area: 1 / 1 / 2 / 2;
    align-items: center;
    display: block;
  }

  header h1 {
    text-align: center;
  }

  .nav-bar {
    text-align: center;
    padding-top: 1rem;
  }

  section.banner {
    grid-area: 2 / 1 / 3 / 2;
    min-width: 320px;
  }

  .banner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  main {
    grid-area: 3 / 1 / 4 / 2; 
  }

  .button-container button,
  .previewButtonContainer button,
  #contactContainer button {
    display: inline-block;
    text-decoration: none;
    padding:0.75em 1.5em;
    border:0.1em solid #000000;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 0.75rem;
    background-color: #ffffff;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
  }

  .projectContainer {
    text-align: justify;
    display: block;
  }  

  #projectDefinition {
    width: 100%;
    padding: 0 0 2rem 0;
  }

}

@media only screen and (max-width: 768px) {
  
  .project-list {
    grid-template-columns: 1fr 1fr;
  }

  #grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 7fr;
    height: 100vh;
  }

  header {
    grid-area: 1 / 1 / 2 / 2;
    align-items: center;
    display: block;
  }

  header h1 {
    text-align: center;
  }

  .nav-bar {
    text-align: center;
    padding-top: 1rem;
  }

  section.banner {
    grid-area: 2 / 1 / 3 / 2;
    min-width: 320px;
  }

  .banner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  main {
    grid-area: 3 / 1 / 4 / 2; 
  }

  .button-container button,
  .previewButtonContainer button,
  #contactContainer button {
    display: inline-block;
    text-decoration: none;
    padding:0.75em 1.5em;
    border:0.1em solid #000000;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 0.75rem;
    background-color: #ffffff;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
  }

  .projectContainer {
    text-align: justify;
    display: block;
  }  

  #projectDefinition {
    width: 100%;
    padding: 0 0 2rem 0;
  }

  #certContainer {
    display: none;
  }

}

@media only screen and (max-width: 480px) {
  
  .project-list {
    grid-template-columns: 1fr;
  }

  #grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
  }

  header {
    grid-area: 1 / 1 / 2 / 2;
    align-items: center;
    display: block;
  }

  header h1 {
    text-align: center;
  }

  .nav-bar {
    text-align: center;
    padding-top: 1rem;
  }

  section.banner {
    grid-area: 2 / 1 / 3 / 2;
    min-width: 320px;
  }

  .banner-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  main {
    grid-area: 3 / 1 / 4 / 2; 
  }

  .button-container button,
  .previewButtonContainer button,
  #contactContainer button {
    display: inline-block;
    text-decoration: none;
    padding:0.75em 1.5em;
    border:0.1em solid #000000;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 0.75rem;
    background-color: #ffffff;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
  }

  .projectContainer {
    text-align: justify;
    display: block;
  }  

  #projectDefinition {
    width: 100%;
    padding: 0 0 2rem 0;
  }

}
